*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/assets
/public/uploads
/public/system/*
/coverage/
/spec/tmp/*
/config/application.yml
**.orig
rerun.txt
pickle-email-*.html
