
.category-block {
  float: left;
  height: 220px;
  width: 250px;
  margin-left: 15px;
  padding: 20px;
  border-bottom: 1px solid #DDD;
  .comments {
    color: #666;
    &:hover {
      color: #333;
    }
  }
}

.verl {
  position: absolute;
  left: 312px;
  height: 100%;
  width: 0;
  border-left: 1px solid #DDD;
}