<h1><%= @category.name %></h1>
<% @category.articles.each do |article| %>
  <%= link_to article.title, article_path(article), class: "link" %> <br>
<% end -%>
<br>
<br>
<%= link_to 'New Article', new_article_path(category: @category) %>