<h1>Listing votes</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th>Title</th>
    <th colspan="2">Action</th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= link_to vote.title, vote, class: "link" %></td>
    <td class="w30"><%= link_to 'Edit', edit_vote_path(vote), class: "link" %></td>
    <td class="w30"><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote', new_vote_path %>
