<% @features.each do |feature| %>
<div class="clearfix">
  <div class="pull-left" style="width: 150px;">
    <%= image_tag feature.poster, style: "width: 150px" %>
  </div>
  <div style="margin-left: 170px;">
    <h4 style="font-size: 18px; font-weight: bold; color: #333; margin-top: 0;">
      <%= link_to feature.title, feature %>
    </h4>
    <p>
      <%= feature.content %>
    </p>
    <p style="color: #999;">
      包含文章:
      <% feature.articles[0..3].each do |a| %>
        <%= link_to "《#{a.title}》", a, class: "link" %>
      <% end -%>
    </p>
  </div>
</div>
<hr>
<% end -%>